<p>CoffeeStackLogのパスワード変更を受け付けました。</p>

<p>以下のパスワード再設定用URLよりパスワードの再設定を完了してください</p>

<p>■ パスワード再設定用URL</p>
<p><a href="<%= @url %>"><%= @url %></a></p>

<p>*30分以内にパスワード再設定の手続きが完了しない場合、上記URLは無効になります。</p>

<p>*このメールに覚えがない方は、大変お手数ですが削除をお願い致します。</p>

<p>*本メールは送信専用となっており、返信いただいてもお答え出来かねます。あらかじめご了承ください。</p>



<p>■発行元: Coffee Stack Log.</p>
<p><a href="https://www.coffeestacklog.com/">https://www.coffeestacklog.com/</a></p>
