- @shops.each do |shop|
  li.d-flex.list-group-item.cursor-pointer[role="option" data-autocomplete-value="#{shop.place_id}" data-autocomplete-label="#{shop.name}"]
    span.me-2 = shop.name
    span.fw-lighter = shop.address
